body {
  margin: 0;
  font-family: 'Graphik',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(11, 28, 52);
  color: #fff;
}

#App .bg-secondary {
  /* bootstrap important styles */
  background-color: rgb(6,13,19) !important;
  border-radius: 10px;
}

#App #news .card {
  overflow: scroll;
  height: 500px;
}

#profit_balance{
  width: 90%;
  margin: 0 auto;
}

.customTable{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

